/* tabla.css */

.table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 5px;
   

  }
  
  .table th, .table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
    border-color: #4CAF50;
    text-align: center; /* Centrar horizontalmente */
    vertical-align: middle

  }
  
  .table th {
    background-color: #0f0a0a;
  }
  
.btnEditar{
  background-color: #4CAF50;
  color: white;
  padding: 0.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.btnEditar:hover {
  background-color: #043107;  
}

.btnEliminar{
  background-color: #f44336;
  color: white;
  padding: 0.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.btnEliminar:hover {
  background-color: #3f0202;
}

.tdbotones {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

